﻿@model PERI_Project.Models.tbl_otherIncome

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Other Income</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Income Name
            @*@Html.DisplayNameFor(model => model.incomeName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.incomeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.income)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.income)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pk_id_otherIncome }) |
    @Html.ActionLink("Back to List", "Index")
</p>
