﻿@model IEnumerable<PERI_Project.Models.tbl_otherIncome>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.incomeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.income)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.incomeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.income)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pk_id_otherIncome }) |
            @Html.ActionLink("Details", "Details", new { id=item.pk_id_otherIncome }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pk_id_otherIncome })
        </td>
    </tr>
}

</table>*@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Other Income</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Income Name</th>
                        <th>Income</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Income Name</th>
                        <th>Income</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.incomeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.income)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.pk_id_otherIncome }) |
                                @Html.ActionLink("Details", "Details", new { id = item.pk_id_otherIncome }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.pk_id_otherIncome })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>