﻿@model PERI_Project.Models.tbl_design

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_design</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.difficulty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.difficulty)
        </dd>

        <dt>
            Difficulty Price
            @*@Html.DisplayNameFor(model => model.design_price)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.design_price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pk_id_design }) |
    @Html.ActionLink("Back to List", "Index")
</p>
