﻿@model IEnumerable<PERI_Project.Models.tbl_design>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.difficulty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.design_price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.difficulty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.design_price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pk_id_design }) |
            @Html.ActionLink("Details", "Details", new { id=item.pk_id_design }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pk_id_design })
        </td>
    </tr>
}

</table>*@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Design Difficulty</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Difficulty</th>
                        <th>Difficulty Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Difficulty</th>
                        <th>Difficulty Price</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.difficulty)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.design_price)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.pk_id_design }) |
                                @Html.ActionLink("Details", "Details", new { id = item.pk_id_design }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.pk_id_design })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>