﻿@model PERI_Project.Models.tbl_customerDebt

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer Debt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Debt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Debt)
        </dd>

        <dt>
            Debt Status
            @*@Html.DisplayNameFor(model => model.debt_status)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.debt_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment)
        </dd>

        <dt>
            Payment Status
            @*@Html.DisplayNameFor(model => model.tbl_payment.payment_status)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_payment.payment_status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pk_id_cDebt }) |
    @Html.ActionLink("Back to List", "Index")
</p>
