﻿@model IEnumerable<PERI_Project.Models.tbl_customerDebt>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Debt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.debt_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_payment.payment_status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Debt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.debt_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_payment.payment_status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pk_id_cDebt }) |
            @Html.ActionLink("Details", "Details", new { id=item.pk_id_cDebt }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pk_id_cDebt })
        </td>
    </tr>
}

</table>*@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Customer Debt</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Debt</th>
                        <th>Debt Status</th>
                        <th>Payment</th>
                        <th>Payment Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Debt</th>
                        <th>Debt Status</th>
                        <th>Payment</th>
                        <th>Payment Status</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Debt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.debt_status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.payment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_payment.payment_status)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.pk_id_cDebt }) |
                                @Html.ActionLink("Details", "Details", new { id = item.pk_id_cDebt }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.pk_id_cDebt })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>