﻿@model PERI_Project.Models.tbl_product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Delete Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Product Name
                @*@Html.DisplayNameFor(model => model.product_name)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product_name)
            </dd>

            <dt>
                Product Price
                @*@Html.DisplayNameFor(model => model.product_price)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product_price)
            </dd>

        </dl>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}