﻿@model PERI_Project.Models.tbl_product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h4>Detail Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Product Image
                @*@Html.DisplayNameFor(model => model.product_name)*@
            </dt>
            <dd>
                <img src="@Url.Content(Model.ImagePath)" width="250" height="250" multiple />
            </dd>

            <dt>
                Product Name
                @*@Html.DisplayNameFor(model => model.product_name)*@
            </dt>
            <dd>
                @Html.DisplayFor(model => model.product_name)
            </dd>

            <dt>
                Product Price
                @*@Html.DisplayNameFor(model => model.product_price)*@
            </dt>
            <dd>
                @Html.DisplayFor(model => model.product_price)
            </dd>

        </dl>

        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.pk_id_product }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>

