﻿@model IEnumerable<PERI_Project.Models.tbl_product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.product_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product_price)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.pk_id_product }) |
                @Html.ActionLink("Details", "Details", new { id=item.pk_id_product }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.pk_id_product })
            </td>
        </tr>
    }

    </table>*@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Data Product</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Product Price</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Product Name</th>
                        <th>Product Price</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.product_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.product_price)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.pk_id_product }) |
                                @Html.ActionLink("Details", "Details", new { id = item.pk_id_product }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.pk_id_product })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>