﻿@model PERI_Project.Models.tbl_Customer
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>PERI User Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Content_UserLogin/images/favicon.ico" />

    @Styles.Render("~/Content_UserLogin/css")

</head>
<body>
    @using (Html.BeginForm("LoginPage", "UserLogin", FormMethod.Post))
    {
        <div class="limiter">
            <div class="container-login100" style="background-image: url('../../Content_UserLogin/images/bg-01.jpg');">
                <div class="form-control" style="background-color:#82ae46; border-radius: 8px; box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65); height: 500px; margin: 3rem auto 4rem auto; width: 450px;">
                    <form class="login100-form validate-form">
                        <span class="login100-form-logo">
                            <i class="zmdi zmdi-landscape"></i>
                        </span>

                        <span class="login100-form-title p-b-34 p-t-27">
                            Log in
                        </span>

                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="text" name="Email" placeholder="Email" maxlength="50" required>
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <input class="input100" type="password" name="Password" placeholder="Password" maxlength="50" data-validate="Enter password" required>
                            <span class="focus-input100" data-placeholder="&#xf191;"></span>
                        </div>
                        <div class="label-info">
                            <label class="field-validation-error" style="color:silver">@TempData["Message"]</label>
                        </div>
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" name="name" value="LoginPage">
                                Login
                            </button>
                        </div>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="medium">Do not have an account? @Html.ActionLink("Register Now!", "Register") </a>
                    </div>
                </div>
            </div>
        </div>
    }
    <div id="dropDownSelect1"></div>
    @Scripts.Render("~/Scripts_UserLogin/js")

</body>
</html>

