﻿@model PERI_Project.Models.tbl_Customer
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Content_UserLogin/images/favicon.ico" />

    @Styles.Render("~/Content_UserLogin/css")

</head>

<body>
    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
    {
        if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                <strong>Succes! </strong>@ViewBag.Message
            </div>
        }
    }
    else
    {
        using (Html.BeginForm("Register", "UserLogin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="limiter">
                <div class="container-login100" style="background-image: url('../../Content_UserLogin/images/bg-01.jpg');">
                    <div class="form-control" style="background-color:#82ae46; border-radius: 8px; box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65); height: 725px; margin: 3rem auto 4rem auto; width: 500px; padding:20px;">
                        <form class="login100-form validate-form">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4" style="color:white;">Create an Account!</h1>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "User Name" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Email Address" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                @Html.ValidationMessage("EmailExist", new { @class = "text-danger" })
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Password" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Confirm Password" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Full Name" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control form-control-user", @onkeyup = "validAngka(this)", @placeholder = "Phone Number" } })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.NoKtp, new { htmlAttributes = new { @class = "form-control form-control-user", @onkeyup = "validAngka(this)", @placeholder = "KTP Number" } })
                                    @Html.ValidationMessageFor(model => model.NoKtp, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="color:#d6d6c2">Upload KTP ( With format [ Jpeg / Png ] ) :</label>
                                <input class="col-md-10" type="file" name="ImageFile" accept="image/jpeg, image/png" style="margin-left:3px; margin-top:8px;" onchange="ShowImagePreview(this, document.getElementById('imagePreview'))" required />
                                <img src="@Url.Content(Model.ImagePath)" style="margin:10px; border:solid; border-color:whitesmoke; border-radius:5px; margin-left:18px;" height="120" width="200" id="imagePreview" />
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control form-control-user", @placeholder = "Address" } })
                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                            </div>


                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn" name="name" value="Register">
                                    Register Account
                                </button>
                            </div>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="medium">Already have an account? @Html.ActionLink("Login Now!", "LoginPage") </a>
                        </div>
                    </div>
                </div>
            </div>

            if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">
                    @ViewBag.Message<strong> Please back again input your data</strong>
                </div>
            }

        }
    }
</body>
</html>
@Scripts.Render("~/Scripts_UserLogin/js")
<script src="~/Scripts_UserLogin/jquery.validate.min.js"></script>
<script src="~/Scripts_UserLogin/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts_UserLogin/Script-uploadfile.js"></script>
<script src="~/Scripts_UserLogin/ScriptValidationAngka.js"></script>
