﻿
@{
    ViewBag.Title = "VerifyAcount";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Verify Account</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Content_UserLogin/images/favicon.ico" />

    @Styles.Render("~/Content_UserLogin/css")

</head>

<body>
    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
    {
        <div class="alert alert-success">
            <strong>Success</strong> Your account has been activated successfully. Click here to @Html.ActionLink("Login", "LoginPage", "UserLOgin")
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Error!</strong> @ViewBag.Message
        </div>
    }
</body>
</html>
@Scripts.Render("~/Scripts_UserLogin/js")