﻿@model PERI_Project.Models.tbl_spending

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Delete Spending</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @*@Html.DisplayNameFor(model => model.spending_name)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.spending_name)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.spending_cash)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.spending_cash)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.payment)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.payment)
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.date)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date)
            </dd>
        </dl>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}
