﻿@model PERI_Project.Models.tbl_spending

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4>Details Spending</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.spending_name)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.spending_name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.spending_cash)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.spending_cash)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.payment)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.date)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.pk_id_spending }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>