﻿@model IEnumerable<PERI_Project.Models.tbl_spending>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.spending_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spending_cash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.spending_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.spending_cash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pk_id_spending }) |
            @Html.ActionLink("Details", "Details", new { id=item.pk_id_spending }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pk_id_spending })
        </td>
    </tr>
}

</table>*@

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Data Product</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Spending Name</th>
                            <th>Spending Cash</th>
                            <th>Payment</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Spending Name</th>
                            <th>Spending Cash</th>
                            <th>Payment</th>
                            <th>Date</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.spending_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.spending_cash)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.payment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.pk_id_spending }) |
                                @Html.ActionLink("Details", "Details", new { id = item.pk_id_spending }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.pk_id_spending })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
