﻿<link href="~/Content/css/Setting.css" rel="stylesheet" />
<div class="py-1 bg-primary">
    <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
            <div class="col-lg-12 d-block">
                <div class="row d-flex">
                    <div class="col-md pr-4 d-flex topper align-items-center">
                        <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                        <span class="text">+ 1235 2355 98</span>
                    </div>
                    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                        <span class="text">Companyemail@email.com</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand">PERI &nbsp; E-COMMERCE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        @if (Session["CustID"] == null)
        {
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("LoginPage","UserLogin")"><img src="~/images/user/login.png" /> Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Register","UserLogin")"><img src="~/images/user/regis.png" /> Register</a>
                    </li>
                </ul>
            </div>
        }
        else
        {
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="@Url.Action("HomePage","HomeCustomer")" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                    <li class="nav-item"><a href="@Url.Action("Order","HomeCustomer")" class="nav-link">Order</a></li>
                    <li class="nav-item"><a href="@Url.Action("Payment","HomeCustomer")" class="nav-link">Payment</a></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link"><img src="~/images/user/user.png" />  @Session["CustUserName"]</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown">
                <a class="dropbtn"><img src="~/images/user/settings-gear.png" /> <img src="~/images/user/down-chevron.png" /></a>
                <div class="dropdown-content">
                    <a href="#" class="nav-link"><img src="~/images/user/profile-image.png" /> Profile</a>
                    <a href="@Url.Action("Logout","UserLogin")" class="nav-link"><img src="~/images/user/sign-out.png" /> Logout</a>
                </div>
            </div>
        }
    </div>
</nav>
