﻿<!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color:#82ae46;">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">@Session["userName"]</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        @*<div class="sidebar-heading">
            Interface
        </div>*@

        <!-- Nav Item - Spending Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                @*<i class="fas fa-fw fa-cog"></i>*@
                <span>Spending</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    @*<h6 class="collapse-header">Details</h6>*@
                    @*@Html.ActionLink("Details", "Index", "Spending_Table")
                    @Html.ActionLink("Input", "Create", "Spending_Table")*@
                    <a class="collapse-item" href="@Url.Action("Index", "spending")">Details</a>
                    <a class="collapse-item" href="@Url.Action("Create", "spending")">Input</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                @*<i class="fas fa-fw fa-wrench"></i>*@
                <span>Income</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    @*<h6 class="collapse-header">Custom Utilities:</h6>*@
                    <a class="collapse-item" href="@Url.Action("Income", "payment")">Details</a>
                    <a class="collapse-item" href="@Url.Action("Index", "otherIncome")">Input other Income</a>
                    @*<a class="collapse-item" href="utilities-animation.html">Animations</a>
                    <a class="collapse-item" href="utilities-other.html">Other</a>*@
                </div>
            </div>
        </li>

        <!-- Divider -->
        @*<hr class="sidebar-divider">*@

        <!-- Heading -->
        @*<div class="sidebar-heading">
            Addons
        </div>*@

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                @*<i class="fas fa-fw fa-folder"></i>*@
                <span>Debt</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    @*<h6 class="collapse-header">Login Screens:</h6>*@
                    <a class="collapse-item" href="@Url.Action("Index", "customerDebt")">Customer Debt</a>
                    <a class="collapse-item" href="@Url.Action("Index", "tbl_Owner_debt")">Owner Debt</a>
                </div>
            </div>
        </li>


        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Profit</span>
            </a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","design")">
                <i class="fas fa-fw fa-table"></i>
                <span>Design</span>
            </a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","product")">
                <i class="fas fa-fw fa-table"></i>
                <span>Product</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
        <div class="text-center d-none d-md-inline">
            <a class="nav-link" href="@Url.Action("LogOut", "AdminLogin")">
                <i class="text-center d-none d-md-inline"></i>
                <span style="color:whitesmoke"><b>Logout</b></span>
            </a>
        </div>
    </ul>
<!-- End of Sidebar -->