﻿@model PERI_Project.Models.tbl_customerOrder

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageEmployee.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
            @*@Html.DisplayNameFor(model => model.name)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Phone Number
            @*@Html.DisplayNameFor(model => model.phone)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            E-Mail
            @*@Html.DisplayNameFor(model => model.email)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Username
            @*@Html.DisplayNameFor(model => model.tbl_Customer.UserName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Customer.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pk_id_customerOrder }) |
    @Html.ActionLink("Back to List", "Index")
</p>
