﻿@model IEnumerable<PERI_Project.Models.tbl_customerOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageEmployee.cshtml";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            email
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Customer.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_Customer.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.pk_id_customerOrder }) |
                @Html.ActionLink("Details", "Details", new { id = item.pk_id_customerOrder }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.pk_id_customerOrder })
            </td>
        </tr>
    }

</table>*@

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Customer Order</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>E-Mail</th>
                        <th>Username</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>E-Mail</th>
                        <th>Username</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_Customer.UserName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.pk_id_customerOrder }) |
                                @Html.ActionLink("Details", "Details", new { id = item.pk_id_customerOrder }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.pk_id_customerOrder })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
