﻿@model PERI_Project.Models.tbl_payment

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPageEmployee.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Total Price
            @*@Html.DisplayNameFor(model => model.total_price)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_price)
        </dd>

        <dt>
            Payment
            @*@Html.DisplayNameFor(model => model.payment)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment)
        </dd>

        <dt>
            Payment Status
            @*@Html.DisplayNameFor(model => model.payment_status)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment_status)
        </dd>

        <dt>
            Order Status
            @*@Html.DisplayNameFor(model => model.order_status)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_status)
        </dd>

        <dt>
            Date
            @*@Html.DisplayNameFor(model => model.date)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            Customer Name
            @*@Html.DisplayNameFor(model => model.tbl_customerOrder.name)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_customerOrder.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
