﻿@model IEnumerable<PERI_Project.Models.tbl_order>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageEmployee.cshtml";
}

<h2>Details</h2>


@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.details_order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lenght_meter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.width_meter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_customerOrder.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_design.difficulty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_product.product_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.details_order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lenght_meter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.width_meter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_customerOrder.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_design.difficulty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_product.product_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "order",new { id=item.pk_id_order },new { }) |
            @Html.ActionLink("Details", "Details", "order", new { id = item.pk_id_order }, new { }) |
            @Html.ActionLink("Delete", "Delete", "order", new { id = item.pk_id_order }, new { })
        </td>
    </tr>
}

</table>*@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Order</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Details Order</th>
                        <th>Length (meter)</th>
                        <th>Width (meter)</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Date</th>
                        <th>Order Status</th>
                        <th>Customer Name</th>
                        <th>Difficulty</th>
                        <th>Product Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>

                        <th>Details Order</th>
                        <th>Length (meter)</th>
                        <th>Width (meter)</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Date</th>
                        <th>Order Status</th>
                        <th>Customer Name</th>
                        <th>Difficulty</th>
                        <th>Product Name</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.details_order)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.lenght_meter)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.width_meter)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.order_status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_customerOrder.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_design.difficulty)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_product.product_name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "order", new { id = item.pk_id_order }, new { }) |
                                @Html.ActionLink("Details", "Details", "order", new { id = item.pk_id_order }, new { }) |
                                @Html.ActionLink("Delete", "Delete", "order", new { id = item.pk_id_order }, new { })
                                @*@Html.ActionLink("Upload", "Upload", new { id = item.pk_id_order }) |*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>