﻿@model IEnumerable<PERI_Project.Models.tbl_payment>

@{
    ViewBag.Title = "Income";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Income</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.total_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_customerOrder.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.total_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_customerOrder.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pk_id_payment }) |
            @Html.ActionLink("Details", "Details", new { id=item.pk_id_payment }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pk_id_payment })
        </td>
    </tr>
}

</table>*@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Income</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Total Price</th>
                        <th>Payment</th>
                        <th>Payment Status</th>
                        <th>Order Status</th>
                        <th>Date</th>
                        <th>Customer Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Total Price</th>
                        <th>Payment</th>
                        <th>Payment Status</th>
                        <th>Order Status</th>
                        <th>Date</th>
                        <th>Customer Name</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.total_price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.payment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.payment_status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.order_status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_customerOrder.name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.pk_id_payment }) |
                                @Html.ActionLink("Details", "Details", new { id = item.pk_id_payment }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.pk_id_payment })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>