﻿@model PERI_Project.Models.tbl_order

@{
    if (Session["CustID"] == null)
    {
        Response.Redirect("~/HomeCustomer/HomePage");
    }
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/HomeCustomer_Layout.cshtml";
}


    @using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="container">
            <hr />
            <h2>Order</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*<div class="form-group">
                <label></label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fk_customer_id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.fk_customer_id, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                <label class="label-info">Detail Order :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.details_order, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.details_order, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label class="label-info">Lenght (Meter) :</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.lenght_meter, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.lenght_meter, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="label-info">Width (Meter) :</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.width_meter, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.width_meter, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="label-info">Jenis Design :</label>
                <div class="col-md-10">
                    @Html.DropDownList("fk_design_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.fk_design_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="label-info">Product :</label>
                <div class="col-md-10">
                    @Html.DropDownList("fk_product_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.fk_product_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="label-info">Amount :</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label style="color:gray;">Upload Design (Optional) :</label>
                <input class="col-md-10" type="file" name="ImageFile" style="margin-left:3px; margin-top:8px;" />
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Order" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
    }

