﻿@model IEnumerable<PERI_Project.Models.tbl_payment>

@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/HomeCustomer_Layout.cshtml";
}
    <div class="container">
        <hr />
        <h2>Payment</h2>
        <table class="table">

            <tr>
                <th>
                    <label>Total Price</label>
                </th>
                <th>
                    <label>Payment Status</label>
                </th>
                <th>
                    <label>Order Status</label>
                </th>
                <th>
                    <label>Payment Proof</label>
                </th>
                <th>
                    <label>Name</label>
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.total_price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.payment_status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.order_status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImagePath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tbl_customerOrder.name)
                    </td>
                    <td>
                        @Html.ActionLink("Upload Payment Proof", "Payment_Proof", new { id = item.pk_id_payment })
                    </td>
                </tr>
            }

        </table>
    </div>