﻿@model PERI_Project.Models.tbl_order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageEmployee.cshtml";
}

<h2>Details</h2>
<div>
    <h4>Image</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="@Url.Content(Model.ImagePath)" width="250" height="250" multiple />
        </dd>
    </dl>
</div>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Details Order
            @*@Html.DisplayNameFor(model => model.details_order)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.details_order)
        </dd>

        <dt>
            Length (meter)
            @*@Html.DisplayNameFor(model => model.lenght_meter)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lenght_meter)
        </dd>

        <dt>
            Width (meter)
            @*@Html.DisplayNameFor(model => model.width_meter)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.width_meter)
        </dd>

        <dt>
            Amount
            @*@Html.DisplayNameFor(model => model.amount)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            Price
            @*@Html.DisplayNameFor(model => model.price)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            Date
            @*@Html.DisplayNameFor(model => model.date)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            Order Status
            @*@Html.DisplayNameFor(model => model.order_status)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_status)
        </dd>

        <dt>
            Name
            @*@Html.DisplayNameFor(model => model.tbl_customerOrder.name)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_customerOrder.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_design.difficulty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_design.difficulty)
        </dd>

        <dt>
            Product Name
            @*@Html.DisplayNameFor(model => model.tbl_product.product_name)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_product.product_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index","payment",new { },new { })
</p>
