﻿@model PERI_Project.Models.tbl_order

@{
    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_LayoutPageEmployee.cshtml";
}

<h2>Upload</h2>


@using (Html.BeginForm("Upload", "order", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>tbl_order</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.pk_id_order)
    @Html.HiddenFor(model => model.fk_customer_id)
    @Html.HiddenFor(model => model.details_order)
    @Html.HiddenFor(model => model.lenght_meter)
    @Html.HiddenFor(model => model.width_meter)
    @Html.HiddenFor(model => model.fk_design_id)
    @Html.HiddenFor(model => model.fk_product_id)
    @Html.HiddenFor(model => model.amount)
    @Html.HiddenFor(model => model.price)
    @Html.HiddenFor(model => model.date)
    @Html.HiddenFor(model => model.order_status)

    <div class="form-group">
        @Html.LabelFor(model => model.ImagePath, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="ImageFile" required>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
